<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video 9 - Renderizado condicional de componentes</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
  </head>
  <body>
    <div id="app" class="container">
      <h5>{{ mensaje }}</h5>

      <div >
        <h3><u>EJEMPLO BÁSICO</u></h3>
        <h5 v-if="numero_uno < numero_dos">El nro. {{ numero_uno}} es menor que {{ numero_dos }} </h5>
        <h5 v-else-if="numero_uno == numero_dos">El nro. {{ numero_uno}} es igual a {{ numero_dos }} </h5>
        <h5 v-else="numero_uno > numero_dos">El nro. {{ numero_uno}} es mayor que {{ numero_dos }} </h5>
      </div> 
      <hr />
      <div >
        <h3><u>EJEMPLO BÁSICO CON V-FOR (POSTS CON ID PARES)</u></h3>
        <ul class="collection">
          <li class="collection-item" v-for="post in posts"> 
            <span v-if="post.id % 2 == 0">El ID es par. - </span>
            <span v-else>El ID es impar. - </span>
            {{post.id}} - {{post.title}}
          </li>
        </ul>
         
      </div> 
      
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Compiled and minified JavaScript -->
   
    <script>
      /**********************************************************************
       * Renderizado Condicional con v-if, v-else y v-else-if.
       * Video 9 del curso de VueJs 3 del canal Code Stack.
       * Link: https://www.youtube.com/watch?v=4OSZ2AdX9x4
       * 
       * Se utilizó inicialmente un snippet basico de Html y se agregó el CDN de
       * la ultima versión estable de desarrollo de VueJs 3.
       * Solo para manera educativa.
       ***********************************************************************/

      /*************************************************************************
       * las directivas v-if, v-else y v-else-if nos permite realizar condicionales para
       * poder renderizar un elemento dependiendo del resultado de la condicion.
       * 
       * Las directivas v-for y v-if no pueden ser utilizadas detro de una misma etiqueta 
       * ya que en la priorización v-for está por encima del v-if, pero puede anidarse
       * dentro de ellas, como en el EJEMPLO BÁSICO CON V-FOR.
       ***************************************************************************/

      /*************************************************************************
       *  Instanciacion de un componente en vuejs.
       ***************************************************************************/
      const Componente1 = {
        data() {
          return {
            mensaje:
              "Renderizado Condicional usando v-if, v-else y v-else-if",
            numero_uno: 11,
            numero_dos: 9,
            posts: []
          };
        },

        methods: {
          getPosts() {
            fetch("https://jsonplaceholder.typicode.com/posts")
              .then((response) => response.json())
              .then((data) => {
                this.posts = data;
              });
          }
        },

        mounted() {
          this.getPosts();
        },

      };

      /*************************************************************************
       *  Renderizacion o Montaje de un componente en vuejs.
       ***************************************************************************/
      const app = Vue.createApp(Componente1).mount("#app");
    </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
