<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video 7 y 8 - Conexión a API Pública Para Datos de Prueba y Creacion de Tabla</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      .table-espaciado {        
        margin: 8px;
        padding: 0px 8px;
      }
      .table-encabezado { 
        background-color: rgb(255, 230, 230);
      }
      .table-sombra {
        box-shadow: 7px 7px 12px black;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h5 class="flow-text" style="text-align: center">{{ mensaje }}</h5>

      <div class="container"
        style="
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          justify-content: center;
          width: 100%;
        "
      >

      <table class="table-espaciado table-sombra">
        <thead class="table-encabezado">
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>TELEFONO</th>
            <th>SITIO WEB</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(usuario, idx) in usuariosJP" :key="idx">
            <td>{{ usuario.id}}</td>
            <td>{{ usuario.name}}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.phone}}</td>
            <td>{{ usuario.website}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <h5 style="color: blue"> 
                <small>Datos tomado del sitio <a href="https://jsonplaceholder.typicode.com" target="_blank">https://jsonplaceholder.typicode.com</a> </small>
              </h5>
            </td>
          </tr>
        </tfoot>
      </table>
      
      </div> 
      <hr />

      <div class="container"
        style="
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          justify-content: center;
          width: 100%;
        "
      >
      <table class="table-espaciado table-sombra">
        <thead class="table-encabezado">
          <tr>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>TELEFONO</th>
            <th>PAIS</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(usuario, idx) in usuariosRndUser" :key="idx">
            <td>{{ usuario.id.value}}</td>
            <td>{{ usuario.name.first }} {{ usuario.name.last }}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.phone}}</td>
            <td>{{ usuario.location.country }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <h5 style="color: blue"> 
                <small>Datos tomado del sitio <a href="https://randomuser.me/" target="_blank">https://randomuser.me/</a> </small>
              </h5>
            </td>
          </tr>
        </tfoot>
      </table>

        
        <!-- <div
          v-for="(usuario, idx) in usuariosRndUser"
          :key="idx"
          style="
            margin: 8px;
            padding: 0px 8px;
            width: 500px;
            background-color: rgb(255, 230, 230);
            box-shadow: 7px 7px 18px black;
          "
        >
          <h4>Usuario DNI-{{ usuario.id.value}}:</h4>
          <ul>
            <li>Nombre: {{ usuario.name.first }} {{ usuario.name.last }}</li>
            <li>Correo: {{ usuario.email }}</li>
            <li>Teléfono: {{ usuario.phone }}</li>
            <li>País Origen: {{ usuario.location.country }}</li>
          </ul>
        </div>
        <h5 style="color: blue"> 
        <small>Datos tomado del sitio <a href="https://randomuser.me/" target="_blank">https://randomuser.me/</a> </small>
      </h5> -->
      </div>
      
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Compiled and minified JavaScript -->
   
    <script>
      /**********************************************************************
       * Conexión a API Pública Para Datos de Prueba.
       * Video 7 del curso de VueJs 3 del canal Code Stack.
       * Link: https://www.youtube.com/watch?v=5WsfNs_zkvg
       * 
       * Ejemplo de Creación de Tabla.
       * Video 8 del curso de VueJs 3 del canal Code Stack.
       * Link: https://www.youtube.com/watch?v=H_azyZ3RjSM       * 
       *
       * Se utilizó inicialmente un snippet basico de Html y se agregó el CDN de
       * la ultima versión estable de desarrollo de VueJs 3.
       * Solo para manera educativa.
       ***********************************************************************/

      /*************************************************************************
       *  Por lo general, vue 3 es una libreria para la creacion de interfaces de usuario por la
       *  utilizacion de componentes, muchas veces los datos deben ser obtenidos desde una base
       *  de datos  mediante un enlace de comunicacion. Por ejemplo fetch API para consumo de
       *  una API. Esta API devolverá una coleccion de datos en Formato JSON y el cual
       *  vue puede poder trabajarlo libremente.
       *
       *  El fetch API, ofrece una definición genérica de los objetos Request y Response
       *  (y otras cosas relacionadas con las solicitudes de red). Esto permitirá su uso donde
       *  sea necesario en un futuro, ya sea para operadores de servicios, API caché y otras cosas
       *  similares que manipulen o modifiquen las solicitudes y respuestas, o cualquier otro tipo de
       *  caso de uso que pudiera requerirle la generación de sus propias respuestas mediante programación.
       *
       *  También proporciona una definición para conceptos relacionados, como CORS y la semántica de encabezado HTTP origen,
       *  suplantando sus definiciones separadas en otros lugares.
       ***************************************************************************/

      /*************************************************************************
       *  Instanciacion de un componente en vuejs.
       ***************************************************************************/
      const Componente1 = {
        data() {
          return {
            mensaje:
              "Conexión a API Pública Para Datos de Prueba utilizando API Fetch y Creación de Tabla",
            usuariosJP: [],
            usuariosRndUser: [],
          };
        },

        methods: {
          getUsuariosJP() {
            fetch("https://jsonplaceholder.typicode.com/users")
              .then((response) => response.json())
              .then((data) => {
                this.usuariosJP = data;
              });
          },
          getUsuariosRndUser() {
            fetch("https://randomuser.me/api/?results=10&nat=es")
              .then((response) => response.json())
              .then((data) => {
                this.usuariosRndUser = data.results;
              });
          },
        },

        mounted() {
          this.getUsuariosJP();
          this.getUsuariosRndUser();
        },
      };

      /*************************************************************************
       *  Renderizacion o Montaje de un componente en vuejs.
       ***************************************************************************/
      const app = Vue.createApp(Componente1).mount("#app");
    </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
